
.items-container{
  display: grid;
  background-color: #6e484b;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.5vw;
  padding: 4.5vw;
}

.item{
  text-align: center;
  font-size: 2.5vw;
  background-color: aquamarine;
  margin: 0%;
  color: black;
}

.item img{
  width: 100%;
}