
.items-container{
  display: grid;
  background-color: #6e484b;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.5vw;
  padding: 4.5vw;
}

.item{
  text-align: center;
  font-size: 2.5vw;
  background-color: aquamarine;
  margin: 0%;
  color: black;
}

.item img{
  width: 100%;
}





/* .dropdown-menu {
  position: absolute;
  top: 100%; 
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  list-style: none;
  margin: 4px 0 0 0;
  padding: 6px 0;
  min-width: 120px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.dropdown-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #f0f0f0;
} */
