.dropdown {
  position: relative;
  align-items: center;
  display: inline;
}

.inputBar {
  width: 4vw;
  height: 3vw;
  outline: none;
  background-color: #f4e1e0;
  color: #6e484b;
}

.dropdown-btn {
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  padding: 1px 2px;
  background-color: #f4e1e0;
  color: #6e484b;
}

.inputBar, .dropdown-btn, .dropdown-menu {
  font-size: 1.8vw;
  border: 0.2vw solid #6e484b86;
  border-radius: 0.25vw;

}

.dropdown-menu {
  background-color: #f4e1e0;
  position: absolute;
  width: 4vw;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 12vw;
  overflow-y: auto;
  /* scroll if more */
  text-align: left;
  right: 3vw;
}

/* scrollbar styling */
.dropdown-menu::-webkit-scrollbar {
  width: 0.6vw;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #6e484b40;
  border-radius: 1vw;
}

.dropdown-menu li {
  padding: 0.3vw;
  cursor: pointer;
}

.dropdown-menu li:hover, .dropdown-btn:hover {
  background-color: #6e484b40;

}